@import 'src/app.theme.scss';

.header-text {
  color: #FFFFFF;
}

.popover-trgr {
  color: $url-color;
  cursor: pointer;

  &:hover {
    color: $url-color-hover;
  }
}

.divider-block{
  border-top: 1px solid #e0e0e0;
}

.analization-result {
  b {
    color: $url-color;
  }
}
